@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*, *::before, *::after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    background-color: #cfecff;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    font-family: 'Poppins', sans-serif;
}

h1{
    color: #374955;
    margin-bottom: 30px;
    font-size: 40px;
}

#video{
    width: 95%;
    margin-bottom: 30px;
    max-height: 70vh;
}

#capture{
    color: #cfecff;
    text-decoration: none;
    background-color: #1e3a49;
    padding: 10px;
    border-radius: 8px;
    border: solid transparent 2px;
    transition: all ease 0.3s;
}

#capture:hover, #capture:active{
    color: #1e3a49;
    border-color: #1e3a49;
    background-color: #cfecff;
}

.popup {
    display: none; /* Hidden by default */
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Black background with opacity */
}

/* Popup content */
.popup-content {
    background-color: white;
    margin: 35vh auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 50%; /* Could be more or less, depending on screen size */
    text-align: center;
}

.popup-title{
    margin-bottom: 15px;
}

.button-group{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

button{
    border: none;
    padding: 10px;
    background-color: #e2e2e2;
    width: 70px;
    border-radius: 6px;
}